<% if mobile? %>
<%= render 'shared/mobile' %>
<% else %>
<div class="card-box-container">
  <%= render 'shared/nav' %>
  <div class="tab-content">
    <%= render 'shared/about' %>
    <%= render 'shared/education' %>
    <%= render 'shared/experience' %>
    <%= render 'shared/projects' %>
  </div>
</div>
<% end %>